#community{
    main{
        width: 100%; 
    }
    .am-navbar{
        // position: fixed;
        // left:0;
        // top:0;
        height: 100px;
        .am-navbar-title{
            span{
                font-size: 30px;
            }
        }       
    }
    .am-tabs-tab-bar-wrap{
        // position: fixed;
        // left:0;
        // top:100px;
        height: 90px;   
        .am-tabs-default-bar 
        {
            .am-tabs-default-bar-animated {
                .am-tabs-default-bar-top{
                    background-color: #615E79;
                }
            }
        }
        .am-tabs-default-bar-content{
            overflow: hidden;
        }
        .am-tabs-default-bar-tab{
            border:0 none;
            font-size: 28px;
            height: 100%;
            color: #E9E9EB;
            position: relative;
            
        }
        .am-tabs-default-bar-tab-active{
            color:#fff;
            font-size: 30px;
            position: relative;
            &::after{
                content:'';
                display: block;
                width:20px;
                height: 20px;
                bottom: -8px;
                transform: rotateZ(45deg);
                border:0 none;
                left:40%;
                overflow:hidden;
                background-color: #fff;
            }
        }
    }
    .allcontent{
        width:100%;
        position: relative; 
        overflow: hidden;      
        .am-notice-bar{
            height: 100px;
            width: 100%;
            padding: 0 15px;
            color:#000;
            font-size: 32px;
            background-color: #fff;
        }
        .am-notice-bar-operation{
            span{
                font-size:26px;
                color:#979797;
                svg{
                    width: 40px;
                    height: 40px;
                    vertical-align: middle;
                    line-height: 100px;
                }
            }
        }
        .am-notice-bar-content{
            float: left;
            text-align: left;
        }
    }
        
    .activities{
        background-color:#fff;
        left:-30px;
        display: flex;           
        overflow-x: auto;
        padding: 0 0 0 30px;
        padding-bottom:35px;
        li{       
            a{ 
                display: block; 
                position: relative;
                text-align: left;
                padding-right: 30px ;                
                img{
                    
                    width: 365px;
                    height: 190px;
                }
                
            }
        }
        .activity-theme{
            color:#fff;
            font-size: 26px;
            padding-left:22px;
            height: 100px;
            line-height: 100px;
        }
        .activity-status{
            width:125px;
            height:40px;
            position:absolute;
            left:20px;
            bottom:115px;
            border-radius:5px;
            line-height:42px;
            font-size:24px;
            span{
                margin:0px 8px;
                svg{
                    width:28px;
                    height:28px;
                    vertical-align:middle;
                }
            }
        }
    }
    
    .week-title{
        margin: 20px 0;
        height:230px;
        background-color:#fff;
        img{
            height:190px;
        }
    }
    .recommend-book{
        margin-bottom: 20px;
        background-color:#fff;
        h4{
            padding-left:30px;
            text-align: left;
            font-size:32px;
            padding-top:40px;
            margin-bottom: 25px;
        }
        .all-booklist{
            position: relative;
            height: 230px;
            overflow: hidden;
            ul{
                display: flex;
                overflow-x: auto;
                padding-left:30px;   
            }
            li{
                a{
                    display: block;
                    width: 190px;
                    height: 230px;
                    padding-right: 30px;
                }                
                p{               
                    width: 190px;
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    font-size: 20px;
                    color:#666;
                }
            }
        }
        .recom-book-imgs{
            margin-bottom: 25px;
            position: relative;
            height: 145px;
            img{
                position: absolute;
                &:nth-child(1){
                    width: 80px;
                    height: 88px;
                    left: 15px;
                    top:40px;
                }
                &:nth-child(2){
                    width: 100px;
                    height: 115px;
                    left:50px;
                    top:30px;
                }
                &:nth-child(3){
                    width: 108px;
                    height: 145px;
                    left:80px;
                    top:15px;
                }
            }
        }
    }
    .selected-comments{
        padding-top:40px;
        background: #fff;
        h4{
            padding-left:30px;
            text-align: left;
            font-size:32px;          
            margin-bottom: 25px;
        }
        .comment-content{
            // -webkit-line-clamp: 3; 
        }
    }
    .comment-content{
        // -webkit-box-orient: vertical; webpack打包编译不出来
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;            
        // 强制换行
        white-space:normal;
        word-break:break-all;
        word-wrap:break-word;
        width: 750px;  
        height: 150px;
        padding: 0 30px;
        box-sizing: border-box;
        font-size: 30px;
        line-height: 50px;
    }
    .comment-time{
        height: 60px;
        line-height: 60px;
        text-align: left;
        padding: 0 30px;
        font-size: 22px;
        color:#A3A3A3;
    }
    .user-comment-info{
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        line-height:125px;
    }
    .comment-user{         
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        span{
            margin-left:10px;
        }
    }
    .comments-info{
        color:#959595;
        svg{
            vertical-align:middle;
            fill:#959595;
        }
        .comments-like-num{
            margin: 0 30px 0 15px;
            vertical-align:middle;
        }
        .comments-comment-num{
            margin: 0 0 0 15px;
        }
    }
    .comment-novel{
        display: flex;
        padding: 20px 20px;
        margin-left:30px;
        background-color: #F7F7F7;
        height: 120px;
        img{
            width: 70px;
            height:90px;
            margin-right:20px;
            border-radius:10px;
        }
    }
    .comment-novel-info{
        text-align: left;
        padding:15px 0;
        p{
            font-size: 28px;
            line-height: 35px;
        }
        .comment-novel-title{
            color:#686868
        }
        .comment-novel-author{
            color: #A7A7A7;
        }
    }
    .find-selected{
        background:#fff;
        margin-top:20px;
        h4{
            line-height: 115px;
            text-align: left;
            padding:0 30px;
            font-size: 32px;
        }
        .comment-content{
            -webkit-line-clamp: unset;           
            height: 100%;
        }
    }
}