html{
    height: 100%;
    body{
        height: 100%;
    }
}
#root{
        height: 100%; 
        overflow-y: auto; 
        .App{
           height: 100%;
        }
        .am-tab-bar{
            height: 100%;
            .am-tab-bar-bar{
                height: 118px;
            }
            .selected{
                svg{
                    fill:#5D53B6;
                }
            }
        }
        .slider-slide {
            img{width:100%;}
        }  
}